/* .themify_builder_2341_row.module_row_0 Style */
.themify_builder_2341_row.module_row_0.module_row {
	background-image: url(../2016/12/header-bg3.jpg);
	background-color: #333333;
	text-align: center;
	padding-top : 15%;
	padding-bottom : 10%
}
.themify_builder_2341_row.module_row_0.module_row>.builder_row_cover {
	background:rgba(51,51,51, 0.84)
}

.themify_builder .text-2341-0-0-1.module-text { font-family: Montserrat; color: #ffffff; text-align: center; padding-right: 0%; padding-left: 0%;  } 
.themify_builder .text-2341-0-0-1.module-text h1 { font-family: Montserrat; color: #ffffff; font-size: 610%;  } 
.themify_builder .text-2341-0-0-1.module-text h2 { font-family: Montserrat; color: #ffffff;  } 
.themify_builder .text-2341-0-0-1.module-text h3:not(.module-title) { font-family: Montserrat; color: #ffffff;  } 
.themify_builder .text-2341-0-0-1.module-text h4 { font-family: Montserrat; color: #ffffff;  } 
.themify_builder .text-2341-0-0-1.module-text h5 { font-family: Montserrat; color: #ffffff;  } 
.themify_builder .text-2341-0-0-1.module-text h6 { font-family: Montserrat; color: #ffffff;  } 
.themify_builder .text-2341-0-0-1.module.module-text h1 { font-family: Open Sans;  } 
/* .themify_builder_2341_row.module_row_1 Style */
.themify_builder_2341_row.module_row_1.module_row {
	background-color: #f2762b;
	padding-top : 0%;
	padding-right : 0%;
	padding-bottom : 0%;
	padding-left : 0%
}

.themify_builder .image-2341-sub_row_1-0-1-0-0.module-image .image-content { text-align: center;  } 
.themify_builder .image-2341-sub_row_1-0-1-0-0.module-image { padding-top: 10%;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text { font-family: Open Sans; color: #ffffff; font-size: 1.2em; line-height: 1.5em; padding-top: 15%; padding-right: 8%; padding-bottom: 15%; padding-left: 8%;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text h1 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text h2 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text h3:not(.module-title) { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text h4 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text h5 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text h6 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text a { color: #ffffff; text-decoration: underline;  } 
.themify_builder .text-2341-sub_row_1-0-1-0-1.module-text a:hover { color: #ffffff;  } 
/* .sub_column_post_2341.sub_column_1-0-1-1 Style */
.sub_column_post_2341.sub_column_1-0-1-1.sub_column {
	background-image: url(../2016/12/Thomas-Frank-glasses-2.jpg)
}

/* .themify_builder_2341_row.module_row_2 Style */
.themify_builder_2341_row.module_row_2.module_row {
	background-image: url(../2016/12/videos-bg-1024x576.jpg);
	background-color: #333333;
	padding-top : 5%;
	padding-bottom : 5%
}
.themify_builder_2341_row.module_row_2.module_row>.builder_row_cover {
	background:rgba(51,51,51, 0.89)
}

.themify_builder .fancy-heading-2341-2-0-1.module .main-head { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .fancy-heading-2341-2-0-1.module .sub-head { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .image-2341-sub_row_2-0-2-0-0.module-image { padding-bottom: 8%;  } 
.themify_builder .image-2341-sub_row_2-0-2-1-0.module-image { padding-bottom: 8%;  } 
.themify_builder .image-2341-sub_row_2-0-2-2-0.module-image { padding-bottom: 8%;  } 
.themify_builder .image-2341-sub_row_2-0-3-0-0.module-image { padding-bottom: 8%;  } 
.themify_builder .image-2341-sub_row_2-0-3-1-0.module-image { padding-bottom: 8%;  } 
.themify_builder .image-2341-sub_row_2-0-3-2-0.module-image { padding-bottom: 8%;  } 
.themify_builder .buttons-2341-2-0-4 div.module-buttons { font-family: Poppins; text-align: center;  } 
.themify_builder .buttons-2341-2-0-4 div.module-buttons i { font-size: .95em;  } 
.themify_builder .buttons-2341-2-0-4 div.module-buttons a { font-size: .95em;  } 
.themify_builder .buttons-2341-2-0-4 div.module-buttons span { font-size: .95em;  } 
.themify_builder .buttons-2341-2-0-4 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #383838;  } 
.themify_builder .buttons-2341-2-0-4 .module-buttons .module-buttons-item a span { text-decoration: none;  } 
.themify_builder .buttons-2341-2-0-4 .module-buttons .module-buttons-item a i { text-decoration: none;  } 
.themify_builder .buttons-2341-2-0-4 .module-buttons .module-buttons-item a { border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
/* .themify_builder_2341_row.module_row_3 Style */
.themify_builder_2341_row.module_row_3.module_row {
	background-color: #f2762b
}

/* .sub_column_post_2341.sub_column_3-0-1-0 Style */
.sub_column_post_2341.sub_column_3-0-1-0.sub_column {
	background-image: url(../2016/12/book.jpg)
}

/* .sub_column_post_2341.sub_column_3-0-1-1 Style */
.sub_column_post_2341.sub_column_3-0-1-1.sub_column {
	text-align: left;
	color: #ffffff;
	padding-top : 5%;
	padding-right : 5%;
	padding-bottom : 5%;
	padding-left : 5%
}
.sub_column_post_2341.sub_column_3-0-1-1.sub_column h1 {
	color: #ffffff
}
.sub_column_post_2341.sub_column_3-0-1-1.sub_column h2 {
	color: #ffffff
}
.sub_column_post_2341.sub_column_3-0-1-1.sub_column h3:not(.module-title) {
	color: #ffffff
}
.sub_column_post_2341.sub_column_3-0-1-1.sub_column h4 {
	color: #ffffff
}
.sub_column_post_2341.sub_column_3-0-1-1.sub_column h5 {
	color: #ffffff
}
.sub_column_post_2341.sub_column_3-0-1-1.sub_column h6 {
	color: #ffffff
}

.themify_builder .fancy-heading-2341-sub_row_3-0-1-1-0.module .main-head { font-family: Open Sans;  } 
.themify_builder .fancy-heading-2341-sub_row_3-0-1-1-0.module .sub-head { font-family: Nixie One; font-size: .55em;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text { font-family: Open Sans; padding-top: 1%;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text h1 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text h2 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text h3:not(.module-title) { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text h4 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text h5 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_3-0-1-1-1.module-text h6 { font-family: Open Sans;  } 
.themify_builder .buttons-2341-sub_row_3-0-1-1-2 div.module-buttons { font-family: Poppins; text-align: center;  } 
.themify_builder .buttons-2341-sub_row_3-0-1-1-2 div.module-buttons i { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_3-0-1-1-2 div.module-buttons a { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_3-0-1-1-2 div.module-buttons span { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_3-0-1-1-2 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #383838;  } 
.themify_builder .buttons-2341-sub_row_3-0-1-1-2 .module-buttons .module-buttons-item a { border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
/* .themify_builder_2341_row.module_row_4 Style */
.themify_builder_2341_row.module_row_4.module_row {
	background-image: url(../2016/12/podcasting-1024x682.jpg);
	background-color: #333333;
	padding-top : 3%;
	padding-bottom : 3%
}
.themify_builder_2341_row.module_row_4.module_row>.builder_row_cover {
	background:rgba(51,51,51, 0.90)
}

.themify_builder .fancy-heading-2341-4-0-1.module .main-head { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .fancy-heading-2341-4-0-1.module .sub-head { font-family: Open Sans; color: #ffffff;  } 
/* .sub_column_post_2341.sub_column_4-0-2-0 Style */
.sub_column_post_2341.sub_column_4-0-2-0.sub_column {
	padding-bottom : 5%
}

.themify_builder .image-2341-sub_row_4-0-2-0-0.module-image .image-content { text-align: center;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text { font-family: Open Sans; color: #ffffff; text-align: left; padding-top: 5%;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text h1 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text h2 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text h3:not(.module-title) { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text h4 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text h5 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text h6 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module-text a { color: #ffffff; text-decoration: underline;  } 
.themify_builder .text-2341-sub_row_4-0-2-0-1.module.module-text h2 { font-family: Open Sans;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-0-2 div.module-buttons i { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-0-2 div.module-buttons a { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-0-2 div.module-buttons span { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-0-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-0-2 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #383838;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-0-2 .module-buttons .module-buttons-item a { border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
/* .sub_column_post_2341.sub_column_4-0-2-1 Style */
.sub_column_post_2341.sub_column_4-0-2-1.sub_column {
	padding-bottom : 5%
}

.themify_builder .image-2341-sub_row_4-0-2-1-0.module-image .image-content { text-align: center;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text { font-family: Open Sans; color: #ffffff; padding-top: 5%;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text h1 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text h2 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text h3:not(.module-title) { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text h4 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text h5 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text h6 { font-family: Open Sans; color: #ffffff;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module-text a { color: #ffffff; text-decoration: underline;  } 
.themify_builder .text-2341-sub_row_4-0-2-1-1.module.module-text h2 { font-family: Open Sans;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-1-2 div.module-buttons { font-family: Poppins; text-align: center;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-1-2 div.module-buttons i { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-1-2 div.module-buttons a { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-1-2 div.module-buttons span { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-1-2 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #383838;  } 
.themify_builder .buttons-2341-sub_row_4-0-2-1-2 .module-buttons .module-buttons-item a { border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
/* .themify_builder_2341_row.module_row_5 Style */
.themify_builder_2341_row.module_row_5.module_row {
	background-color: #f2762b;
	color: #ffffff
}
.themify_builder_2341_row.module_row_5.module_row h1 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_5.module_row h2 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_5.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2341_row.module_row_5.module_row h4 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_5.module_row h5 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_5.module_row h6 {
	color: #ffffff
}

/* .sub_column_post_2341.sub_column_5-0-1-0 Style */
.sub_column_post_2341.sub_column_5-0-1-0.sub_column {
	padding-top : 5%;
	padding-right : 5%;
	padding-bottom : 5%;
	padding-left : 5%
}

.themify_builder .fancy-heading-2341-sub_row_5-0-1-0-0.module-fancy-heading { padding-top: 5%; padding-right: 5%; padding-bottom: 5%; padding-left: 5%;  } 
.themify_builder .fancy-heading-2341-sub_row_5-0-1-0-0.module .main-head { font-family: Open Sans;  } 
.themify_builder .fancy-heading-2341-sub_row_5-0-1-0-0.module .sub-head { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text h1 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text h2 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text h3:not(.module-title) { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text h4 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text h5 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_5-0-1-0-1.module-text h6 { font-family: Open Sans;  } 
.themify_builder .buttons-2341-sub_row_5-0-1-0-2 div.module-buttons { font-family: Poppins; text-align: center;  } 
.themify_builder .buttons-2341-sub_row_5-0-1-0-2 div.module-buttons i { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_5-0-1-0-2 div.module-buttons a { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_5-0-1-0-2 div.module-buttons span { font-size: .95em;  } 
.themify_builder .buttons-2341-sub_row_5-0-1-0-2 .module-buttons .module-buttons-item a:hover { background-color: #383838; color: #ffffff;  } 
.themify_builder .buttons-2341-sub_row_5-0-1-0-2 .module-buttons .module-buttons-item a { border-top-color: #ffffff; border-top-width: 2px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 2px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 2px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 2px; border-left-style: solid;  } 
/* .sub_column_post_2341.sub_column_5-0-1-1 Style */
.sub_column_post_2341.sub_column_5-0-1-1.sub_column {
	background-image: url(../2016/12/speaking-min-1-1024x939.jpg)
}

/* .themify_builder_2341_row.module_row_6 Style */
.themify_builder_2341_row.module_row_6.module_row {
	background-image: url(../2016/12/header-2016-1024x492.jpg);
	background-size: cover;
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row h1 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row h2 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row h4 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row h5 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row h6 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_6.module_row>.builder_row_cover {
	background:rgba(51,51,51, 0.93)
}

.themify_builder .slider-2341-6-0-1.module-slider .slide-content { font-family: Open Sans; text-align: center; font-family: Alike Angular; font-size: 1.6em; line-height: 1.8em;  } 
.themify_builder .slider-2341-6-0-1.module-slider .slide-content .slide-title { font-family: Open Sans;  } 
.themify_builder .slider-2341-6-0-1.module-slider .slide-content .slide-title a { font-family: Open Sans;  } 
.themify_builder .slider-2341-6-0-1.module-slider { padding-top: 10%; padding-right: 10%; padding-bottom: 0%; padding-left: 10%;  } 
/* .themify_builder_2341_row.module_row_7 Style */
.themify_builder_2341_row.module_row_7.module_row {
	background-color: #f2762b;
	color: #ffffff;
	padding-top : 5%;
	padding-bottom : 5%
}
.themify_builder_2341_row.module_row_7.module_row h1 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_7.module_row h2 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_7.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2341_row.module_row_7.module_row h4 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_7.module_row h5 {
	color: #ffffff
}
.themify_builder_2341_row.module_row_7.module_row h6 {
	color: #ffffff
}

.themify_builder .fancy-heading-2341-sub_row_7-0-1-0-0.module .main-head { font-family: Open Sans;  } 
.themify_builder .fancy-heading-2341-sub_row_7-0-1-0-0.module .sub-head { font-family: Nixie One;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text h1 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text h2 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text h3:not(.module-title) { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text h4 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text h5 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text h6 { font-family: Open Sans;  } 
.themify_builder .text-2341-sub_row_7-0-1-0-1.module-text a { color: #ffffff; text-decoration: underline;  } 
